<div class="container">
    {{#if loggedIn}}
    <div class="row">
        <div class="col-12 col-sm-12 m-2">
            <button class="w-100 btn btn-lg btn-primary m-1" id="new-post-button">+ New Post</button>
        </div>
    </div>
    {{#each this.posts }}
    <div class="row">
        <div class="card col-12 col-sm-12 m-2">
            <div class="card-header">
                {{ title }}
            </div>
            <div class="card-body">
                <p class="card-text">{{contents}}</p>
            </div>
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>